# App Configuration
ORIGINS=["*"]
ALLOW_CREDENTIALS=True
ALLOWED_METHODS=["*"]
ALLOWED_HEADERS=["*"]

# AI Features
GOOGLE_API_KEY=your_google_api_key_here

# Database
MONGO_URI=mongodb://localhost:27017/

# Cache
REDIS_URI=redis://localhost:6379/
REDIS_DRAFT_ORDER_TTL=900
